﻿@using Znode.Engine.Admin.ViewModels
@model ChangePasswordViewModel
@{
    ViewBag.Title = Admin_Resources.ResetPassword;
}


    @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post, new { @class = "", role = "form" }))
            {
        <div class="col-sm-12 title-container">
            <h1>@Admin_Resources.ResetPasswordButtonText</h1>
            <div class="pull-right">
                <input type="submit" id="btnSubmit" class="btn-text" value="@Admin_Resources.ResetPasswordButtonText" />
            </div>
        </div>
            <div class="col-sm-12 page-container">                
                <div class="form-group">
                    <div class="control-label">
                        @Html.Label(Admin_Resources.NewPassword)
                    </div>
                    <div class="control-md">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.NewPassword)
                    </div>
                </div>
                <div class="form-group">
                    <div class="control-label">
                        @Html.Label(Admin_Resources.ReTypeNewPassword)
                    </div>
                    <div class="control-md">
                        @Html.PasswordFor(m => m.ReTypeNewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ReTypeNewPassword)
                    </div>
                </div>
                @Html.AntiForgeryToken()
                @Html.HiddenFor(x => x.PasswordToken)
                @Html.HiddenFor(x => x.UserName)
            </div>
    }

<script>
    $('#btnSubmit').click(function () {
        $('#loading-div-background').removeClass('overlay');
        $('#loading-div').removeClass('loader');
        $("#loading-div-background").empty();
    });
</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
