﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Helpers;
@model CMSWidgetsListViewModel

@{
    string PageDisplayName = @Model.FileName.Replace("_", "");
}
<input type="hidden" id="hdnPreviewUrl" value="@Model.PreviewUrl" />
<div id="associatedPanel" class="aside-popup-panel modal-dialog modal-xl modal-xxl" />
@* This popup is added here to solve the problem of overlay in CMS popup, same popup is present in _AssociatedProductList.cshtml for stores -> display settings *@
<div id="associateproductlist" class="aside-popup-panel modal-dialog modal-xl" style="z-index:10000;">
    @*product list will display in this div*@
</div>

@if (!Equals(Model.CMSWidgetsList, null))
{
    WidgetHelper.SetWidgetActions(Model);
    if (!string.IsNullOrEmpty(Model.PreviewUrl))
    {
        <div class="main-wrapper">
            <section>
                <iframe id="iframe" src="@Model.PreviewUrl/@Model.ParentContentPageSEOUrl?cmsmode=CMS_MODE&content=content" style="border:0;" height="800" width="100%"></iframe>
            </section>
        </div>
    }
    else
    {
        <div class="col-sm-12 manage-website-container nopadding">
            <div class="widgets-layout">
                @if (Equals(PageDisplayName, "Header"))
                {
                    <div class="header-widgets">
                        @foreach (var widget in Model.CMSWidgetsList)
                        {
                            widget.DisplayName = string.IsNullOrEmpty(Admin_Resources.ResourceManager.GetString(string.Concat(AdminConstants.ZWidgetDisplayName, widget.DisplayName))) ? widget.DisplayName : Admin_Resources.ResourceManager.GetString(string.Concat(AdminConstants.ZWidgetDisplayName, widget.DisplayName));
                            <div class="widgets-container">
                                @if (widget.IsConfigurable)
                                {
                                <a data-ajax="true" data-ajax-begin="bindUrl('@widget.WidgetActionUrl')" data-ajax-mode="replace" data-ajax-success="$('#associatedPanel').show(300); $('.mceEditor').attr('wysiwygenabledproperty','true');reInitializationMce();" data-ajax-update="#associatedPanel" href="@widget.WidgetActionUrl">
                                    <h3>@widget.DisplayName</h3>
                                    <img src="~/Content/Images/Widgets/@widget.FileName" alt="" class="img-responsive" />
                                    <div class="configure-option"><span><i class="z-global-setting"></i> @Admin_Resources.TextConfigure</span></div>
                                </a>
                                }
                                else
                                {
                                    <a href="javascript:void(0)">
                                        <h3>@widget.DisplayName</h3>
                                        <img src="~/Content/Images/Widgets/@widget.FileName" alt="" class="img-responsive" />
                                    </a>
                                }
                            </div>
                        }
                    </div>
                    <div class="main-container-widgets">
                        <div class="watermark-text"><p>Content</p></div>
                    </div>
                    <div class="footer-widgets"><div class="watermark-text"><p>Footer</p></div></div>
                }
                else if (Equals(PageDisplayName, "Footer"))
                {
                    <div class="header-widgets"><div class="watermark-text"><p>Header</p></div></div>
                    <div class="main-container-widgets"><div class="watermark-text"><p>Content</p></div></div>
                    <div class="footer-widgets">
                        @foreach (var widget in Model.CMSWidgetsList)
                        {
                            widget.DisplayName = string.IsNullOrEmpty(Admin_Resources.ResourceManager.GetString(string.Concat(AdminConstants.ZWidgetDisplayName, widget.DisplayName))) ? widget.DisplayName : Admin_Resources.ResourceManager.GetString(string.Concat(AdminConstants.ZWidgetDisplayName, widget.DisplayName));
                            <div class="widgets-container">
                                @if (widget.IsConfigurable)
                                {
                                <a data-ajax="true" data-ajax-begin="bindUrl('@widget.WidgetActionUrl')" data-ajax-mode="replace" data-ajax-success="$('#associatedPanel').show(300); $('.mceEditor').attr('wysiwygenabledproperty','true');reInitializationMce();" data-ajax-update="#associatedPanel" href="@widget.WidgetActionUrl">
                                    <h3>@widget.DisplayName</h3>
                                    <img src="~/Content/Images/Widgets/@widget.FileName" alt="" class="img-responsive" />
                                    <div class="configure-option" data-test-selector="div@(widget.DisplayName.Replace(" ",""))"><span><i class="z-global-setting"></i>@Admin_Resources.TextConfigure</span></div>
                                </a>
                                }
                                else
                                {
                                    <a href="javascript:void(0)">
                                        <h3>@widget.DisplayName</h3>
                                        <img src="~/Content/Images/Widgets/@widget.FileName" alt="" class="img-responsive" />
                                    </a>
                                }
                            </div>
                        }
                    </div>
                }
                else
                {
                    <div class="header-widgets"><div class="watermark-text"><p>Header</p></div></div>
                    <div class="main-container-widgets">
                        @foreach (var widget in Model.CMSWidgetsList)
                        {
                            widget.DisplayName = string.IsNullOrEmpty(Admin_Resources.ResourceManager.GetString(string.Concat(AdminConstants.ZWidgetDisplayName, widget.DisplayName))) ? widget.DisplayName : Admin_Resources.ResourceManager.GetString(string.Concat(AdminConstants.ZWidgetDisplayName, widget.DisplayName));
                            <div class="widgets-container">
                                @if (widget.IsConfigurable)
                                {
                                <a data-ajax="true" data-ajax-begin="bindUrl('@widget.WidgetActionUrl')" data-ajax-mode="replace" data-ajax-success="$('#associatedPanel').show(300); $('.mceEditor').attr('wysiwygenabledproperty','true');reInitializationMce();" data-ajax-update="#associatedPanel" href="@widget.WidgetActionUrl">
                                    <h3>@widget.DisplayName</h3>
                                    <img src="~/Content/Images/Widgets/@widget.FileName" alt="" class="img-responsive" />
                                    <div class="configure-option" data-test-selector="div@(widget.DisplayName.Replace(" ",""))"><span><i class="z-global-setting"></i> @Admin_Resources.TextConfigure</span></div>
                                </a>
                                }
                                else
                                {
                                    <a href="javascript:void(0)">
                                        <h3>@widget.DisplayName</h3>
                                        <img src="~/Content/Images/Widgets/@widget.FileName" alt="" class="img-responsive" />
                                    </a>
                                }
                            </div>
                        }
                    </div>
                    <div class="footer-widgets"><div class="watermark-text"><p>Footer</p></div></div>
                }


            </div>
        </div>
    }

}
<input type="hidden" id="hdnPageRefreshUrl" />
<script>
    function bindUrl(url) {
        $('body').css('overflow', 'hidden').append("&quot;<div class='modal-backdrop fade in'></div>&quot;");
        $("#hdnPageRefreshUrl").val(url);
    }
    function bindEvent(element, eventName, eventHandler) {
        if (element.addEventListener) {
            element.addEventListener(eventName, eventHandler, false);
        } else if (element.attachEvent) {
            element.attachEvent('on' + eventName, eventHandler);
        }
    }

    bindEvent(window, 'message', function (e) {
        const prefix = 'Request:';
        var dataString = e.data;
        if (dataString.indexOf(prefix) == 0) {
            var jsonString = dataString.replace(prefix, '');
            var data = JSON.parse(jsonString);
            var url = `/Content/RedirectToConfigureWidget?cmsMappingId=${data.MappingId}&widgetKey=${data.WidgetsKey}`;
            $("#hdnPageRefreshUrl").val(url);
            ZnodeBase.prototype.BrowseAsidePoupPanelWithCallBack(url, 'associatedPanel', function (response) {
                $('.aside-panel li a.active').removeClass('active');
                $('#Widgets').addClass('active');
            });
        }
    });
</script>

