﻿@using Znode.Engine.WebStore.ViewModels
@{
    ViewBag.HideEmail = true;
    ViewBag.IsAddAddress = true;
    if (Model != null)
    {
        Model.AddressType = String.IsNullOrEmpty(Model.AddressType) ? WebStore_Resources.BillingAddressType : Model.AddressType;
    }
}
@model AddressViewModel

<div id="layout-account-editaddress" class="main-wrapper Setbordernone">

    <div class="container-fluid">
        <div class="col-lg-12 mobile-no-padding">
            <div class="user-account">
                <div class="col-xs-12 nopadding">
                    <h1 class="page-title">
                        @string.Format(!Equals(Model.AddressId, 0) ? WebStore_Resources.TitleEditAddress : WebStore_Resources.TitleAddAddress, string.Empty)
                    </h1>
                </div>
                <div class="col-xs-12 account-dashboard nopadding">
                    <div class="col-xs-12 col-sm-3 col-lg-2 nopadding">
                        <nav class="account-container-menu">
                            @Html.Partial("_AccountMenu")
                        </nav>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-lg-8 address-book edit-address right-container">
                        <form class="form" method="POST" action="" id="frmEditAddress_billing">
                            @Html.AntiForgeryToken()
                            @Html.Partial("_EditAddress", Model)
                            @if (Model != null && Model.AddressId > 0)
                            {
                                <div class="col-xs-12 margin-bottom nopadding hidden">
                                    <div class="pull-right">
                                        <button type="button" data-url="/User/DeleteCurrentAddress" id="deleteCurrentAddress" onclick="User.prototype.DeleteCurrentAddress()" class="btn-text btn-bg-secondary hidden-xs">Delete Address</button>
                                        <input type="hidden" name="addressId" value="@Model.AddressId" />
                                        @if (Model.AccountAddressId > 0)
                                        {
                                            <input type="hidden" name="addressId" value="@Model.AccountAddressId" />
                                        }
                                    </div>
                                </div>
                            }
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*Nivi Code Validation for FirstName EditAddress*@
<script>
//    $(document).ready(function () { $("#frmEditAddress_billing").find("p").find('[data-valmsg-for="FirstName"]').hide(), $("#frmEditAddress_billing").submit(function () { "" == $(".edit-address-form").find("#address_firstname").val() || null == $(".edit-address-form").find("#address_firstname").val() ? $(".edit-address-form").find("p").find('[data-valmsg-for="FirstName"]').show() : $(".edit-address-form").find("p").find('[data-valmsg-for="FirstName"]').hide() }) });
   $(document).ready(function () {
       $("#frmEditAddress_billing").find("p").find('[data-valmsg-for="FirstName"]').hide();
   });

   $("#btnSaveAddress").click(function () { "" == $(".edit-address-form").find("#address_firstname").val() || null == $(".edit-address-form").find("#address_firstname").val() ? $(".edit-address-form").find("p").find('[data-valmsg-for="FirstName"]').show() : $(".edit-address-form").find("p").find('[data-valmsg-for="FirstName"]').hide() });
</script>
<script>
    $(document).ready(function () {
        $("#savedeleteAddress").append($("#deleteCurrentAddress"));
        $('#IsDefaultShipping').rules('remove');
        $('#IsDefaultBilling').rules('remove');

    })
</script>