﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Libraries.ECommerce.Utilities;
@using System.Configuration;
@model OrdersViewModel
@{
    string Tracking = string.Empty;

}

<div id="layout-account-receipt" class="main-wrapper">
    <div class="container-fluid">
        <div class="col-lg-12 mobile-no-padding">
            <div class="user-account">
                <div class="col-xs-12 nopadding hidden-xs">
                    <h1 class="page-title">@Html.RenderBlock(string.Format(WebStore_Resources.TitleOrderReceipt.ToString(),Convert.ToString(Model.OrderNumber))) - @ViewBag.Title <small>on @Model.OrderDate.ToDateTimeFormat()</small></h1>
                </div>

                <div class="col-xs-12 account-dashboard nopadding">
                    <div class="col-sm-3 col-lg-2 nopadding">
                        <nav class="account-container-menu">
                            @Html.Partial("_AccountMenu")
                        </nav>
                    </div>
                    <div class="col-xs-12 nopadding hidden-sm hidden-md hidden-lg">
                        <h1 class="page-title">@Html.RenderBlock(string.Format(WebStore_Resources.TitleOrderReceipt.ToString(), Model.OrderNumber.ToString())) - @ViewBag.Title <small>on @Model.OrderDate.ToDateTimeFormat()</small></h1>
                    </div>
                    <div class="col-xs-12 col-sm-9 col-lg-10 order-receipt right-container">

                        <a class="receipt-print pull-right" href="#" onclick="window.print();return false;"><i class="zf-printer"></i> <span>@WebStore_Resources.TextPrint</span></a>
                        <div class="col-xs-12 margin-top-bottom nopadding">
                            <div class="col-xs-12 col-sm-4 nopadding receipt-info">
                                <h3 class="section-header-color">@WebStore_Resources.TextDetails:</h3>
                                <div><strong>@WebStore_Resources.TitleDate:</strong> @Model.OrderDate.ToDateTimeFormat()</div>
                                <div><strong>@WebStore_Resources.TitleOrder:</strong> @Model.OrderNumber</div>
                                <div><strong>@WebStore_Resources.TitlePayment:</strong> @Model.PaymentDisplayName</div>
                                <div><strong>Order Status</strong> @Model.Custom1</div>
                                @*<div><strong>@WebStore_Resources.TitleTracking:</strong> @Html.RenderBlock(Model.TrackingNumber)</div>*@
                                <div><strong>@WebStore_Resources.TitleTracking:</strong>@Html.RenderBlock(@Model.TrackingNumber)</div>

                            </div>
                            <div class="col-xs-12 col-sm-4 nopadding receipt-info grid-m-4">
                                <h3 class="section-header-color">Sold To</h3>
                               @Html.RenderBlock(Convert.ToString(Model.Custom2))
                            </div>
                            <div class="col-xs-12 col-sm-4 nopadding receipt-info grid-m-4">
                                <h3 class="section-header-color">@WebStore_Resources.TitleBillingTo</h3>
                                @Html.RenderBlock(Model.BillingAddressHtml)
                            </div>
                        </div>

                        <div class="col-xs-12 margin-top-bottom nopadding receipt-item-list shopping-cart">
                            <div class="table-responsive">

                                <table class="table table-tr">
                                    <tr class="shipment-address">
                                        <td colspan="9">
                                            <div class="col-xs-12 nopadding margin-top-bottom recepit-container">
                                                <div class="user-receipt">
                                                    @*<h3>Shipping To</h3>*@
                                                    <h3>@WebStore_Resources.TitleShippingTo</h3>
                                                    @Html.RenderBlock(Model?.OrderLineItems[0]?.ShippingAddressHtml)
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                                <table class="table table-tr">
                                    <tr class="table-heading" style="border-bottom:1px solid #c3c3c3;">
                                        <th class="table-td receipt-column-item">Style Number</th>
                                        @*<th class="table-td receipt-column-item">SKU</th>*@
                                        <th class="table-td receipt-column-item">@WebStore_Resources.ColumnTitleItem</th>
                                        @*<th class="table-td receipt-column-item">@WebStore_Resources.LabelDescription</th>*@
                                        <th class="table-td receipt-column-item">Size</th>
                                        <th class="table-td receipt-column-item">Color</th>
                                        <th class="table-td receipt-column-quantity">@WebStore_Resources.ColumnTitleQty</th>
                                        <th class="table-td receipt-column-price">@WebStore_Resources.ColumnTitlePrice</th>
                                        @*<th class="table-td receipt-column-total">@WebStore_Resources.ColumnTitleTotal</th>*@
                                        <th class="table-td receipt-column-item">@WebStore_Resources.LabelStatus</th>
                                        @*Nivi Code start for Line Ship Date*@
                                        <th class="table-td receipt-column-item">@WebStore_Resources.AwctEstimatedShipDate</th>
                                        @*Nivi Code end for Line Ship Date*@
                                        @*<th class="table-td receipt-column-item">@WebStore_Resources.LabelTrackingNumber</th>
            <th class="table-td receipt-column-action"></th>*@
                                    </tr>
                                    @foreach (var items in Model?.OrderLineItems?.AsEnumerable().Reverse() ?? new List<OrderLineItemViewModel>())
                                    {
                                        if (!Equals(items.OrderLineItemState, ZnodeOrderStatusEnum.RETURNED.ToString()))
                                        {
                                            @*Nivi Code start for Line Ship Date*@
                                            string Custom3 = items.Custom3;
                                            string Year = Custom3.Substring(0, 4);
                                            string Month = Custom3.Substring(5, 2);
                                            string Day = Custom3.Substring(6, 2);
                                            string EstimatedShipDate = string.Empty;
                                            EstimatedShipDate = Month + "-" + Day + "-" + Year;
                                            @*Nivi Code end for Line Ship Date*@
                                            <tr class="receipt-item table-tr">
                                                <td class="table-td receipt-column-item">
                                                    @Html.RenderBlock(items.Custom1)

                                                </td>
                                                @*<td class="table-td receipt-column-item">
                        @Html.RenderBlock(items.Sku)

                    </td>*@
                                                <td class="table-td receipt-column-item">
                                                    @Html.RenderBlock(items.ProductName)

                                                </td>
                                                <td class="table-td">
                                                    <div>@Html.RenderBlock(@items.Custom2)</div>
                                                </td>
                                                <td class="table-td">
                                                    <div>@Html.RenderBlock(@items.Description)</div>
                                                </td>
                                                <td class="table-td receipt-column-quantity">
                                                    @if ((items.Quantity) % 1 == 0)
                                                    {
                                                        @($"{items.Quantity.ToInventoryRoundOff():n0}")
                                                    }
                                                    else
                                                    {
                                                        var orderedQuantity = double.Parse(Convert.ToString(items.Quantity.ToInventoryRoundOff()));
                                                        @orderedQuantity
                                                    }
                                                </td>
                                                <td class="table-td receipt-column-price">
                                                    @Helper.FormatPriceWithCurrency(items.Price, Model.CultureCode, items.UOM)
                                                </td>
                                                @*<td class="table-td receipt-column-total">
                        @Helper.FormatPriceWithCurrency(items.Quantity * items.Price, Model.CultureCode)
                    </td>*@
                                                <td class="table-td">
                                                    <div>@items.OrderLineItemState</div>
                                                </td>
                                                @*Nivi Code start for Line Ship Date*@
                                                <td class="table-td">
                                                    <div>@Convert.ToString(EstimatedShipDate)</div>
                                                </td>
                                                @*Nivi Code end for Line Ship Date*@
                                                @*<td class="table-td">
                        <div>@Html.RenderBlock(items.TrackingNumber)</div>
                    </td>*@
                                            </tr>
                                        }
                                    }
                                </table>
                            </div>
                            @*<div class="col-sm-offset-5 col-md-offset-6">
                                    <div class="form-group receipt-total">
                                        <div class="col-xs-6 nopadding"><h2>@WebStore_Resources.ColumnOrderTotal</h2></div>
                                        <div class="col-xs-6 nopadding"><h2>@Helper.FormatPriceWithCurrency(Convert.ToDecimal(Model.Total), Model.CultureCode)</h2></div>
                                    </div>
                                </div>*@
                            @Html.Partial("_ReceiptCalculation", Model)
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
