﻿@model PIMAttributeGroupListViewModel
@using Znode.Engine.Admin.ViewModels;

@{
    string area = "PIM";
    string controller = ViewContext.RouteData.Values["controller"].ToString();
    string action = "AssignedPIMAttributes";
    int attributeFamilyId = Model.PimAttributeFamilyId;
}

<div class="collapsible-grid dirtyignore">
    <table class="table">
        <thead>
            <tr>
                <th>@Attributes_Resources.LabelFamilyGroupCode</th>
                <th>@Admin_Resources.LabelType</th>
                <th>@Admin_Resources.LabelRequired</th>
                <th>@Attributes_Resources.LabelAttributeLocalizable</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @{foreach (PIMAttributeGroupViewModel item in Model.AttributeGroupList)
                {
                    <tr>
                        <td colspan="5">
                            <table class="table child-table">
                                <thead>
                                    <tr class="header">
                                        <td class="td-header" colspan="7">
                                            <button type="button" class="btn-dropdown" onclick="javascript: var _CollapsibleGrid = new CollapsibleGrid(); _CollapsibleGrid.HideShowExpandOption(this,'@area','@controller','@action');" data-attributegroupid="@item.PimAttributeGroupId" data-attributefamilyid="@attributeFamilyId"><i class="z-add"></i></button>
                                            @item.GroupCode
                                            @Html.AuthorizedRawActionLink("<i class='z-delete'></i>", "UnAssignAttributeGroups", controller, new { @pimAttributeGroupId = item.PimAttributeGroupId }, new { @class = "pull-right", title = "Delete" })
                                            <a class="pull-right padding-right" title="Edit" onclick="PIMAttributeFamily.prototype.EditDisplayOrder('@item.PimAttributeGroupId', '@item.GroupCode', '@item.DisplayOrder')"><i class="z-edit"></i></a>
                                            <span id="UnAssignedAttributesForGroup_@item.PimAttributeGroupId">
                                                <a class="pull-right padding-right" title="GetUnAssignedAttributes" onclick="PIMAttributeFamily.prototype.GetUnAssignedAttributes('@controller','@item.PimAttributeGroupId', '@item.PimAttributeFamilyId')"></a>
                                            </span>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody class="attributeData">

                                    @*Attribute Data will be rendered here*@

                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>