﻿@using Znode.Engine.Admin.ViewModels
@model SearchKeywordsRedirectViewModel
@{
    ViewBag.Title = Admin_Resources.TitleMarketing + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName, FormId = "frmCreateEditKeywords", CancelUrl = "/SearchConfiguration/GetCatalogKeywordsList", IsSaveCloseEnable = true };
}
<div id="aside-popup-panel">
    <div class="col-sm-12 title-container">
        <h1>@Admin_Resources.LabelSearchSettings</h1>
        <div class="pull-right">
            <div class="pull-right btn-container">
                <button type="button" class="btn-text-icon" onclick="ZnodeBase.prototype.CancelUpload('divAddKeywordsPopup')" data-test-selector="linkCancel"><i class="z-back"></i>@Admin_Resources.ButtonCancel</button>
                <div class="pull-right padding-left">
                    <button type="button" class=" btn-text btn-text-secondary" onclick="SearchConfiguration.prototype.CreateKeywordsRedirect()" data-test-selector="linkSave">@Admin_Resources.ButtonSave</button>
                </div>
            </div>
        </div>
    </div>
    <section class="col-sm-12 page-container scheduler-status">
        @using (Html.BeginForm(actionName, controllerName, FormMethod.Post, new { @id = "frmCreateEditKeywords" }))
        {
            <span id="CreateKeywordsError" class="error-msg display-none"></span>

            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        @Html.LabelFor(model => model.Keywords, new { @class = "required", @data_test_selector = "lblKeywords" })
                    </div>
                    <div class="control-md">
                        @Html.TextBoxFor(model => model.Keywords, new { @data_role = "tagsinput", @data_test_selector = "txtKeywords"  })
                        @Html.ValidationMessageFor(model => model.Keywords, "", new { @id = "valKeywords", @data_test_selector = "valKeywords"  })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-12 nopadding">
                    <div class="control-label">
                        @Html.LabelFor(model => model.URL, new { @class = "required", @data_test_selector = "lblURL" })
                    </div>
                    <div class="control-md">
                        @Html.TextBoxFor(model => model.URL, new { @data_test_selector = "txtURL" })
                        @Html.ValidationMessageFor(model => model.URL, "", new { @id = "valURL", @data_test_selector = "valURL" })
                    </div>
                    @Html.Partial("_HelpText", @Admin_Resources.HelpDescriptionKeywordRedirectURL)
                </div>
            </div>
            @Html.HiddenFor(model => model.PublishCatalogId)
            @Html.HiddenFor(model => model.SearchKeywordsRedirectId)
        }
    </section>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/References/bootstrap-tagsinput.js"></script>
<div id="divCataloglistPopup" class="aside-popup-panel modal-dialog modal-lg"></div>

<script>
    //Bootstrap ToolTip Call
    $('[data-toggle="tooltip"]').tooltip({ trigger: 'hover', html: true });
</script>
