﻿@using Znode.Engine.WebStore.ViewModels
@{
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
@model IEnumerable<CategorySubHeaderViewModel>
@foreach (var subCategory in Model)
{
    string classname = "";
    if (subCategory.ChildCategoryItems.Count > 0)
    {classname = "dropdown-submenu";}
	string visibleInNav = subCategory.Attributes?.FirstOrDefault(w => w.AttributeCode == "IsShowInNavigation")?.AttributeValues;
if (visibleInNav != "false" )
	{
    <li class="@classname"> 
	       @if (subCategory.CategoryName == "Custom Design")
            {
                <a href="/custom-design" class="dropdown-toggle" title="@WebUtility.HtmlDecode(subCategory.CategoryName)">@WebUtility.HtmlDecode(subCategory.CategoryName)</a>
            }
            else
            {
                <a href="@Url.GetCategoryUrl(subCategory.SEOPageName, null, subCategory.CategoryId)" title="@WebUtility.HtmlDecode(subCategory.CategoryName)"
                   class="dropdown-toggle" data-test-selector="linkSubCategoryItemList" itemprop="url"> @WebUtility.HtmlDecode(subCategory.CategoryName)</a>
            }
      
        @if (subCategory.ChildCategoryItems.Count > 0)//!Equals(subCategory.ChildCategoryItems, null) && 
        {<ul class="dropdown-menu">@Html.Partial("_HeaderSubNav", subCategory.ChildCategoryItems)</ul>}        
    </li>
	}
}