﻿@using Znode.Engine.WebStore.ViewModels;
@using Znode.Engine.WebStore.Agents
@using Znode.Libraries.ECommerce.Utilities;
@model  CategoryViewModel
@{
    var _rq = Request.QueryString;
    string pageSize = !string.IsNullOrEmpty(Convert.ToString(Request.QueryString[WebStoreConstants.PageSize])) ? Request.QueryString[WebStoreConstants.PageSize] : !string.IsNullOrEmpty(Convert.ToString(SessionHelper.GetDataFromSession<int?>(WebStoreConstants.PageSizeValue))) ? Convert.ToString(SessionHelper.GetDataFromSession<int?>(WebStoreConstants.PageSizeValue)) : null;
    Dictionary<string, object> searchProperties = new Dictionary<string, object>();
    if (Request.QueryString[WebStoreConstants.PageSize] == null || Request.QueryString[WebStoreConstants.PageSize] == "")
    {
        searchProperties.Add(WebStoreConstants.PageSize, 40);
    }
    else
    {
        searchProperties.Add(WebStoreConstants.PageSize, Request.QueryString[WebStoreConstants.PageSize]);
    }
    string path = HttpContext.Current.Request.Url.ToString();
    searchProperties.Add(WebStoreConstants.PageNumber, Request.QueryString[WebStoreConstants.PageNumber]);
    searchProperties.Add(WebStoreConstants.Sort, Request.QueryString[WebStoreConstants.Sort]);
    var domainurl = HttpContext.Current.Request.Url.GetLeftPart(UriPartial.Authority);
}
<div class="container-fluid">
    <div class="col-lg-12 nopadding">
        <div id="layout-category" data-category="@Model.CategoryName" data-categoryId="@Model.CategoryId" class="main-wrapper">
            <!-- Breadcrumb -->
            <div id="breadCrumb" class="breadcrumb-container" data-test-selector="lblBreadcrumb">
                @if (!string.IsNullOrEmpty(Model.BreadCrumbHtml))
                {
                    @Html.RenderBlock(Model.BreadCrumbHtml)
                }
            </div>
           <!-- Facets -->
            <aside class="col-xs-12 col-sm-4 col-lg-2 col-md-3 side-bar mobile-no-padding">
                @{Html.RenderPartial("_FacetList", Model.ProductListViewModel.SearchResultViewModel);}
                <div class="col-xs-12 nopadding">
                    <div id="compareProductList">
                    </div>
                </div>
            </aside>
            <!-- PLP Listing -->
            <div class="col-xs-12 col-sm-8 col-lg-10 col-md-9 category-landing-container" itemscope itemtype="http://schema.org/ItemList">
                <div class="col-xs-12 nopadding brand-banner">
                    <div class="col-sm-12 nopadding">
                        <h1 data-test-selector="lblCategoryName" itemprop="name">@Html.RenderBlock(Attributes.Value(Model.Attributes, "CategoryTitle"))</h1>
                        <p itemprop="description">@Html.RenderBlock(Attributes.Value(Model.Attributes, "LongDescription"))</p>
                    </div>
                </div>
                @{Html.RenderPartial("_ProductGrid", Model.ProductListViewModel);}
                <label class="hidden" itemprop="url">@path</label>
            </div>
            @if (Convert.ToInt32(searchProperties[WebStoreConstants.PageSize]) != -1 && (Convert.ToInt32(TempData[WebStoreConstants.ProductCount]) > 0))
            {
                if (!Helper.InfinityLoading && (Convert.ToInt32(TempData[WebStoreConstants.TotalProductCount]) > Convert.ToInt32(searchProperties[WebStoreConstants.PageSize])))
                {
                    <div class="col-xs-12 nopadding">
                        <div class="category-more text-center margin-top-bottom">
                            <a href="@domainurl@Url.Action("Index","Category", new { category = Model.CategoryName, categoryId = Model.CategoryId, viewAll = true })" class="btn-text btn-bg-primary">View All</a>
                        </div>
                    </div>
                }
            }
        </div>
        <input type="hidden" value="@Model.CategoryId" id="categoryId" />
        <input type="hidden" value="0" id="parentCategoryId" />
    </div>
</div>