﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Engine.WebStore.Agents
@{
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
}
<div id="layout-product" class="main-wrapper product-meta medium-view-template" data-id="@productId">
    <!-- Breadcrumb -->
    <div data-test-selector="divBreadCrumb" id="breadCrumb" class="breadcrumb-container"></div>
    <div class="container">
        <div class="row product-view-details">
            <!--Get Product Images-->
            <div class="col-xs-12 col-md-6 nopadding product-images">
                @Html.Partial("_ProductImageZoomEffect", Model)
            </div>
            <!--Get Product details like short decription and higlights-->
            <div class="col-xs-12 col-md-6 nopadding product-overview">
                @Html.Partial("_ProductOverview", Model)
                <div class="ajax" data-purpose="ProductInfoDefault">
                    @Html.Partial("_ProductInfo", Model)
                </div>
                @Ajax.Partial("ProductInfo", "ProductInfo", "Product", new { id = ViewBag.ProductId, expands = "Promotions,Inventory,Pricing,AddOns,AssociatedProducts", seo = ViewBag.Seo, isquickview = ViewBag.IsQuickView, publishstate = PortalAgent.CurrentPortal.PublishState }, "[data-purpose='ProductInfoDefault']")
            </div>
            <!--Get Product content like features and cutomer reviews-->
            @Html.Partial("_ProductContent", Model)
            <div class="col-xs-12 nopadding">
                <div class="product-extras">
                    @Html.Partial("_ProductExtras", Model)
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("categoryIds", string.Join(",", Model.CategoryHierarchy.Select(category => category.CategoryId)), new { @id = "categoryIds" })
    <div id="successMessageDiv" style="display:none">
    </div>
    <div id="divSendMail" style="display:none">
    </div>
</div>
<script>
    $(document).ready(function () {
        document.title ='@Html.RenderBlock(Model.SEOTitle)';
        $('meta[name="keywords"]').prop("content", "@Html.RenderBlock(Model.SEOKeywords)");
        $('meta[name="description"]').prop("content", "@Html.RenderBlock(Model.SEODescription)");
    });
</script>
