﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@using System.Configuration;
@model CartViewModel
@{
    var cultureCode = string.IsNullOrEmpty(Model.CultureCode) ? DefaultSettingHelper.DefaultCurrency : Model.CultureCode;
    int PublishStateId = (byte)PortalAgent.CurrentPortal.PublishState;
    decimal VolumeDiscount = 0;
    decimal discount = 0;
    try
    {discount = Convert.ToDecimal(Model?.Custom3);}
    catch
    {discount = 0;}
    string VolumeCode = string.Empty;
    string couponcode = string.Empty;
    decimal subtotal = 0;
    foreach (var item in Model.Coupons)
    {couponcode = item.CouponApplied ? "(" + @item.Code + ")" : string.Empty;}   
    if (discount > 0)
    {
        string ExclusionCategory = ConfigurationManager.AppSettings["ExclusionCategory"].ToString();// "Value,Clearance";
        subtotal = Convert.ToDecimal(Model.ShoppingCartItems.Where(x => !ExclusionCategory.Split(',').Contains(x.Custom1)).Sum(x => x.Quantity * x.UnitPrice));
        VolumeCode = "(" + Convert.ToInt32(discount * 100).ToString() + "%)";
        VolumeDiscount = Convert.ToDecimal(subtotal * discount);
    }
    Model.Total = Model.Total + Model.TotalAdditionalCost;
}
<div class="form-group" style="display:none">
    <div class="col-xs-6 col-md-8 nopadding">
        <p data-test-selector="paraSubTotal">Total Discount Test</p>
    </div>
    <div class="col-xs-6 col-md-4 text-right nopadding" data-test-selector="txtSubTotal">
        @Helper.FormatPriceWithCurrency(Model.Discount, cultureCode)
    </div>
</div>
<div class="form-group">
    <div class="col-xs-6 col-md-8 nopadding">
        <p data-test-selector="paraSubTotal">@WebStore_Resources.LabelSubTotal</p>
    </div>
    <div class="col-xs-6 col-md-4 text-right nopadding" data-test-selector="txtSubTotal">
        @Helper.FormatPriceWithCurrency(Model.SubTotal, cultureCode)
    </div>
</div>
@if (Model.Discount > 0 || Model.Shipping.ShippingDiscount > 0)
{
    var a = Model.Discount;
    var b = Model.Shipping.ShippingDiscount;
    var total = Model.Discount + Model.Shipping.ShippingDiscount;
	decimal Discount =VolumeDiscount;
    var coup = Math.Round((total - Discount),2);
    decimal couponDis = Convert.ToDecimal(coup);
    if (VolumeDiscount > 0)
    {
        <div class="form-group">
            <div class="col-xs-6 col-md-8 nopadding">
                <p>Volume Discount <b> @VolumeCode</b></p>
            </div>
            <div class="col-xs-6 col-md-4 text-right nopadding" data-test-selector="txtShippingDiscount">
                <div id="dynamic-discount-amount">@Helper.FormatPriceWithCurrency(0 - Discount, cultureCode)</div>
            </div>
        </div>
    }
    if (couponcode != string.Empty)
    {
        <div class="form-group">
            <div class="col-xs-6 col-md-8 nopadding">
                <p>Coupon Discount <b>@couponcode</b></p>@*@WebStore_Resources.ColumnDiscounts*@
            </div>
            <div class="col-xs-6 col-md-4 text-right nopadding" data-test-selector="txtShippingDiscount">
                <div id="dynamic-discount-amount">@Helper.FormatPriceWithCurrency(0 - couponDis, cultureCode)</div>
            </div>
        </div>
    }
}
@*Start 18% Canadian duty*@
@if (Model.TotalAdditionalCost > 0)
{
    <div class="form-group">
        <div class="col-xs-6 col-md-8 nopadding">
            <p>18% Canadian duty</p>
        </div>
        <div class="col-xs-6 col-md-4 text-right nopadding">
            @Helper.FormatPriceWithCurrency(Model.TotalAdditionalCost, cultureCode)
        </div>
    </div>
}@*End 18% Canadian duty*@

@if (Model.TaxCost > 0)
{
    <div class="form-group">
        <div class="col-xs-6 col-md-8 nopadding">
            <p data-test-selector="paraTax">@WebStore_Resources.ColumnTax</p>
        </div>
        <div class="col-xs-6 col-md-4 text-right nopadding" data-test-selector="txtTaxCost">
            @Helper.FormatPriceWithCurrency(Model.TaxCost, cultureCode)
        </div>
    </div>
    @Html.HiddenFor(n => n.TaxCost)
}

@if (Model.ShippingCost > 0 && Model.IsSinglePageCheckout == true)
{
    <div class="form-group">
        @{ string shipName = string.IsNullOrEmpty(Model?.ShippingName) ? "" : $"({Model?.ShippingName})"; }
        <div class="col-xs-6 col-md-8 nopadding">
            <p data-test-selector="paraShippingNameLabel">@WebStore_Resources.LabelShippingCost @shipName</p>
        </div>
        <div class="col-xs-6 col-md-4 text-right nopadding" data-test-selector="ShippingCost">

            <div data-test-selector="divShippingCost"  id="dynamic-shipping-amount">@Helper.FormatPriceWithCurrency(Model.ShippingCost, cultureCode)</div>
        </div>
    </div>
}

@if (Model.GiftCardApplied)
{
    <div class="form-group">
        <div class="col-sm-6 col-md-8 nopadding">
            <p data-test-selector="paraGiftCardAmt">@WebStore_Resources.ColumnGiftCardAmount</p>
        </div>
        <div class="col-xs-6 col-md-4 text-right nopadding" data-test-selector="GiftCardApplied">
            <div id="dynamic-giftcard-amount" class="left-sm-shift">@Helper.FormatPriceWithCurrency(0 - Model.GiftCardAmount, cultureCode)</div>
        </div>
    </div>
}
<div class="form-group total">
    <div class="col-xs-6 col-md-7 col-sm-6 col-lg-6 nopadding">
        <h3 data-test-selector="hdgOrdertotal">@WebStore_Resources.ColumnOrderTotal</h3>
    </div>
    <div class="col-xs-6 col-md-5 col-sm-6 col-lg-6 nopadding text-right" data-test-selector="txtTotalAmt">
        @*<div id="dynamic-order-total" class="left-sm-shift"><h3 data-test-selector="hdgOrderGrandTotal">@Helper.FormatPriceWithCurrency(Model.Total, cultureCode)</h3></div>*@
        @{ string grandTotal = Model.IsSinglePageCheckout == true ? Convert.ToString(Model.Total) : Convert.ToString(Model.SubTotal); }
        <div id="dynamic-order-total" class="left-sm-shift"><h3 data-test-selector="hdgOrderGrandTotal">@Helper.FormatPriceWithCurrency(Convert.ToDecimal(grandTotal), cultureCode)</h3></div>
        @Html.Hidden("hdnTotalOrderAmount", Model.Total)
    </div>
</div>

<script>var coupon = @Html.Raw(Json.Encode(Model.Coupons));Cart.prototype.ShowCouponsMessages(coupon);</script>

<input type="hidden" id="Total" value="@Model.Total" />

@Html.HiddenFor(m => m.SubTotal)

@Html.HiddenFor(m => m.Discount)

@Html.HiddenFor(m => m.ShippingCost)

@Html.HiddenFor(m => m.GiftCardAmount)

@Html.Hidden("hdnCurrencySuffix", Model.CurrencySuffix)

@Html.Hidden("hdnCurrencyCode", Model.CurrencyCode)

@Html.Hidden("hdnCustomerGUID", Model.CustomerPaymentGUID)

@Html.Hidden("hdnAnonymousUser", Model.UserId)