﻿@{
    ViewBag.Title = Admin_Resources.LabelCMS + " | " + Admin_Resources.Multifront;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12 title-container">
    <h1>@Admin_Resources.HeadingCMS</h1>
</div>
<div class="main-wrapper">
    <!--Main Container-->
    <section class="col-sm-12 page-container">
        <div class="col-sm-6 col-lg-4">
            <a href="/Theme/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-theme-configuration"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>Themes</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/Template/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-template"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>Page Templates</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/WebSite/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-website-configuration"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>Websites</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/Content/ContentPageList">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-contents"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>Pages</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/Content/ManageMessageList">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-manage-message"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>Content Blocks</h3>
                        <span>Edit messages displayed in different areas of your store. Messages can be plain text or rich text and can include images.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/EmailTemplate/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-email-templates"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.TitleEmailTemplate</h3>
                        <span>Email Templates are used as basic messages that are send to users.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/WebSite/GetSliderList">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-slider-configuration"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>Banner Sliders</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/SearchConfiguration/CreateIndex">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-search-settings"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.LabelSearchSettings</h3>
                        <span>Lorem Ipsum is simply dummy text of the printing.</span>
                    </div>
                </div>
            </a>
        </div>                          
        @*<div class="col-sm-6 col-lg-4">
            <a href="/Review/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-customer-review"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.HeaderCustomerReviews</h3>
                        <span>Approve or disable reviews submitted by customers.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/SEO/SEOSetting">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-seo"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.LabelSEOSettings</h3>
                        <span>Manage your store's SEO settings including default storewide settings, product settings, category settings, content page settings and 301 re-direction.</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-sm-6 col-lg-4">
            <a href="/Highlight/List">
                <div class="quick-link">
                    <div class="icon">
                        <i class="z-info"></i>
                    </div>
                    <div class="info-box-content">
                        <h3>@Admin_Resources.TitleHighlights</h3>
                        <span>Create highlights that apply to multiple products. For Example: "Certified Organic", etc.</span>
                    </div>
                </div>
            </a>
        </div>*@
    </section>
</div>