﻿@using Znode.Engine.Admin.ViewModels
@model SearchProfileListViewModel
@using Znode.Libraries.ECommerce.Utilities;
@using Znode.Engine.Admin.Models
@{
    ViewBag.Title = Admin_Resources.TitleMarketing + " | " + Admin_Resources.Multifront;
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<div class="pull-right create-index">
    <button type="button" class="btn-text btn-text-secondary" id="btnCreateSearchProfile" onclick="Search.prototype.CreateSearchProfile()" data-test-selector="linkAddNew">@Admin_Resources.ButtonAdd</button>
</div>
@using (Ajax.BeginForm(actionName, controllerName, new { catalogId = Model.PublishCatalogId, catalogName = Model.CatalogName }, new AjaxOptions() { UpdateTargetId = Model.GridModel.FrontObjectName, OnSuccess = "GridPager.prototype.GridUpdateHandler" }, new { @id = "searchform" }))
{
    <div id="filterComponent">
        @Html.Partial("~/Views/DynamicGrid/_FilterComponent.cshtml", Model.GridModel.FilterColumn)
    </div>
}


@Html.Partial("~/Views/Shared/Controls/_PopUp.cshtml",
            new PopupModel()
            {
                Title = Admin_Resources.HeaderConfirmDelete,
                Description = Admin_Resources.TextSearchProfileConfirmDelete,
                ModalPopUpId = "SearchProfileDeletePopup",
                Buttons = new List<PopUpButtonModel>() {
                new PopUpButtonModel { ButtonText = @Admin_Resources.TextOk, ButtonAttributes="data-dismiss=modal",OnClickFunctionName =  "Search.prototype.DeleteSearchProfile(this)"}
                }
            })
<div class="col-sm-12 list-container">
    @{
        @Html.Partial("~/Views/DynamicGrid/_DynamicGrid.cshtml", Model.GridModel)
    }
</div>
@Html.HiddenFor(m => m.PublishCatalogId, new { @id = "publishCatalogId" })
@Html.HiddenFor(m => m.CatalogName, new { @id = "catalogName" })
