﻿@using Znode.Engine.Admin.ViewModels
@model PIMProductAttributeValuesViewModel

<div class="form-group">
    <div class="col-sm-12 nopadding">
        <div class="control-label">
            <label data-test-selector="lbl@(Model.AttributeName.Replace(" ",""))" for="@Model.ControlProperty.Name">@Model.AttributeName</label>
        </div>
        @*@Html.CreateControl(@Model.ControlProperty)*@
		@try
        {
            @Html.CreateControl(Model.ControlProperty)
        }
        catch (Exception ex)
        {
            string s = Convert.ToString(Model.ControlProperty.Name);
			string cnt = Model.ControlProperty.ControlType;
            <input type="hidden" id="ErrorControlProperty" name="ErrorControlProperty" value=@ex.StackTrace>

        }
    </div>
</div>

