﻿@using Znode.Engine.WebStore.ViewModels
@model CartViewModel

<div class="col-sm-12 nopadding single-page-checkout checkout-box">
    @*Remove... cart-promocode*@
    @using (Ajax.BeginForm("ApplyDiscount", "Checkout", null, new AjaxOptions { HttpMethod = "Post", OnBegin = "return Checkout.prototype.CheckDiscountCodeValue('coupon')", OnSuccess = "Checkout.prototype.DisplayAppliedDiscountCode" }, new { @id = "applyCoupon" }))
    {
        @Html.AntiForgeryToken();
        <div class="nopadding">
            <h3 class="title">@WebStore_Resources.LabelEnterCouponCode</h3>
            <div class="padding-15">
                <div class="input-group" id="cart-apply-promocode">
                    @if (Model.Coupons?.Count > 0)
                    {
                        <input data-test-selector="txtPromoCode" type="text" id="promocode" name="discountCode" value="@Model.Coupons[@Model.Coupons.Count-1].Code" class="form-input" size="40" maxlength="100" />
                    }
                    else
                    {
                        <input data-test-selector="txtPromoCode" type="text" id="promocode" name="discountCode" class="form-input" size="40" maxlength="100" />
                    }
                    <span class="input-group-btn">
                        <button data-test-selector="btnButtonCouponApply" type="submit" class="btn btn_search btn-bg-primary">@WebStore_Resources.ButtonApply</button>
                    </span>
                </div>
                <span id="RequiredCouponErrorMessage" class="error-msg"></span>
            </div>
        </div>
    }
    <div id="couponMessageContainer">
        <div class="col-xs-12 nopadding">
            @if (Model.Coupons?.Count > 0)
            {
                foreach (var item in Model.Coupons)
                {
                    <p class=@(item.CouponApplied ? "success-msg" : "error-msg")><a href="#" class="cart-item-remove" onclick="Checkout.prototype.RemoveCoupon('@item.Code');" title="Remove Coupon Code"><i class="zf-close"></i></a> @item.Code - @item.PromotionMessage </p>
                }
            }
        </div>
    </div>
</div>