﻿@using Znode.Engine.Admin.ViewModels
@using Znode.Engine.Admin.Helpers;
@using Znode.Libraries.ECommerce.Utilities;
@model CustomerInfoViewModel
@{
    Layout = null;
}
<div class="col-sm-12 nopadding dashboard-panel">
    <div class="dashboard-panel-heading">
        <h4 data-test-selector="hdgCustomerInformation" class="dashboard-panel-title">@Admin_Resources.LabelCustomerInformation</h4>
    </div>
    <div class="col-sm-12 nopadding margin-bottom-15">
        <div class="order-subtitle">
            <h4>Customer</h4>
        </div>
        <div class="col-xs-12 nopadding cust-info">
            <div class="form-group margin-bottom-16">
                <div class="col-sm-12 nopadding">
                    <div class="control-label padding-left">
                        <label data-test-selector="lblCustomerName">@Admin_Resources.LabelCustomerName</label>
                    </div>
                    <div class="control-lg ">
                        @if (!Model.BillingAddress.IsGuest)
                        {
                            if (!string.IsNullOrEmpty(Model.CustomerName.Trim()))
                            {
                                <span id="labelCustomerName" class="padding-left" data-test-selector="spnCustomerName">
                                    @Html.RenderBlock(Model.CustomerName)
                                </span>
                            }
                            else
                            {
                                <span id="labelCustomerName" class="padding-left" data-test-selector="spnCustomerName">
                                    @Model.BillingAddress.FirstName @Model.BillingAddress.LastName
                                </span>
                            }
                        }
                        else
                        {
                            <span id="labelCustomerName" class="padding-left" data-test-selector="spnCustomerName">
                                @Model.BillingAddress.FirstName @Model.BillingAddress.LastName
                            </span>
                        }
                    </div>
                </div>
            </div>
            <div class="form-group margin-bottom-16">
                <div class="col-sm-12 nopadding">
                    <div class="control-label padding-left">
                        <label data-test-selector="lblEmailID">@Admin_Resources.LabelEmailID</label>
                    </div>
                    <div class="control-lg">
                        <span id="labelCustomerName" class="margin-left-10" data-test-selector="spnEmailID">
                            @Html.RenderBlock(Model.UserName)
                        </span>
                    </div>
                </div>
            </div>
            <div class="form-group margin-bottom-16">
                <div class="col-sm-12 nopadding">
                    <div class="control-label padding-left">
                        <label data-test-selector="lblCustomerId">@Admin_Resources.LabelCustomerId</label>
                    </div>
                    <div class="control-lg">
                        <span id="labelCustomerId" class="margin-left-10" data-test-selector="spnCustomerId">
                            @Model.CustomerId
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 nopadding margin-top-15" id="customerAddresses">
            <div class="col-sm-6 nopadding">
                <div class="order-subtitle">
                    <h4 class="margin-top" data-test-selector="hdgBillingAddress">@Admin_Resources.TitleBillingAddress <a href="#" class="change-address btn-margin-left dirtyignore edit-action" onclick="Order.prototype.GetCustomerAddressForManange('billing', @Model.BillingAddress.AddressId,@Model.ShippingAddress.AddressId, @Model.OmsOrderId)"><span class="z-edit"></span></a></h4>
                </div>
                    <div data-test-selector="divBillingAddress" id="customerBillingAddresses" class="address-block">
                        @{Html.RenderPartial("_DisplayCustomer", Model.BillingAddress, new ViewDataDictionary { TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "UserAddressDataViewModel.BillingAddress" } });}
                    </div>
                </div>
                <div class="col-sm-6 padding-none">
                    <div class="order-subtitle">
                        <h4 data-test-selector="hdgShippingAddress" class="margin-top">@Admin_Resources.TitleShippingAddress<a href="#" class="change-address btn-margin-left dirtyignore edit-action" onclick="Order.prototype.GetCustomerAddressForManange('shipping', @Model.ShippingAddress.AddressId,@Model.BillingAddress.AddressId, @Model.OmsOrderId)"><span class="z-edit"></span></a></h4>
                   </div>
                    <div data-test-selector="divShippingAddress" id="customerShippingAddresses" class="address-block">
                        @{Html.RenderPartial("_DisplayCustomer", Model.ShippingAddress, new ViewDataDictionary { TemplateInfo = new System.Web.Mvc.TemplateInfo { HtmlFieldPrefix = "UserAddressDataViewModel.ShippingAddress" } });}
                    </div>
                </div>
            </div>
    </div>
    @Html.HiddenFor(model => model.UserName, new { id = "hdnGuestUserName" })
