﻿@using Znode.Engine.Admin.ViewModels;
@model SliderViewModel
@{
    string actionName = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
    ActionModel actionModel = new ActionModel { Action = actionName, Controller = controllerName };
}
@using (Ajax.BeginForm(actionName, controllerName,
    new AjaxOptions()
    {
        HttpMethod = "post",
        OnSuccess = "WebSite.prototype.AddSliderResult",
        UpdateTargetId = "divAddSliderPopup",
        InsertionMode = InsertionMode.Replace,
    },
    new { @id = "frmSlider" }))
{
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="z-close-circle"></i></button>
                @if (string.Equals(actionName.ToLower(), "createslider"))
                {
                    <h4 class="modal-title" data-test-selector="hdgAddSlider">@Admin_Resources.LabelAddSlider</h4>
                }
                else
                {
                    <h4 class="modal-title" data-test-selector="hdgAddSlider">@Admin_Resources.LabelEditSlider</h4>
                }
            </div>
            <div class="modal-body">
                <div class="col-sm-12 nopadding">
                    <div class="col-sm-12 nopadding">
                        <div class="form-group">
                            <div class="col-sm-12 nopadding">
                                <div class="control-label">
                                    @Html.LabelFor(model => model.Name, new { @class = "required", @data_test_selector = "lblName" })
                                </div>
                                <div class="control-lg">
                                    @Html.TextBoxFor(model => model.Name, new { @data_test_selector = "txtName" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { id = "errorSpanSliderName", @data_test_selector = "valName" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="col-sm-12 nopadding">
                    <div class="pull-right">
                        <button type="button" class="btn-text-icon" data-dismiss="modal" data-test-selector="linkCancel"><i class='z-back'></i>@Admin_Resources.ButtonCancel</button>
                        <div class="pull-right">
                            <button type="submit" id="saveSlider" class="btn-text btn-text-secondary" data-test-selector="linkSave">@Admin_Resources.ButtonSave</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.CMSSliderId)
    @Html.HiddenFor(model => model.Name)
}

<script type="text/javascript">
    $(document).ready(function () {
        WebSite.prototype.ValidateSlider();
    });
</script>