﻿@using Znode.Engine.WebStore.ViewModels
@model AddressListViewModel
@{
    Model.ShippingAddress.RoleName = Model.RoleName;
    Model.BillingAddress.RoleName = Model.RoleName;
    Model.ShippingAddress.AddressCount = Convert.ToInt32(Model?.AddressList?.Count());
    Model.BillingAddress.AddressCount = Convert.ToInt32(Model?.AddressList?.Count());
    Model.ShippingAddress.OtherAddressId = Model.BillingAddress.AddressId;
    Model.BillingAddress.OtherAddressId = Model.ShippingAddress.AddressId;

    int quoteId = Convert.ToInt32(Request.QueryString["QuoteId"] ?? "0");
    if (quoteId > 0)
    {
        if (Model?.ShippingAddress != null)
        {
            if ((Model.ShippingAddress.FirstName + Model.ShippingAddress.LastName)?.Trim() == string.Empty)
            {
                Model.ShippingAddress.FirstName = Model.BillingAddress.FirstName;
                Model.ShippingAddress.LastName = Model.BillingAddress.LastName;
            }
        }
    }
}
<div class="col-xs-12 nopadding Setbordernone" id="dvBillingShippingContainer">
    <div id="shipping-content" class="col-xs-12 col-md-12 nopadding margin-bottom shipping-address-content checkout-box">
        <h3 class="title">@WebStore_Resources.TitleShippingAddress</h3>
        <div id="shipping-address-content" class="col-xs-12 padding-15">
            <div id="shipping-content-selectoptions">

                @{Html.RenderPartial("../Checkout/_AddressOptions", Model, new ViewDataDictionary { { "addressType", "shipping" } }); }

            </div>

            @{ Html.RenderPartial("../Checkout/_DisplayAddress", Model.ShippingAddress, new ViewDataDictionary { { "addressType", "shipping" } });}
        </div>
    </div>
    <div id="BillingAddressContainer" class="col-xs-12 col-md-12 nopadding billing-address-content checkout-box margin-bottom">
        <h3 class="title">@WebStore_Resources.TitleBillingAddress</h3>
        <div id="billing-content" class="col-xs-12 padding-15">

            <div id="billing-content-selectoptions">

                @{Html.RenderPartial("../Checkout/_AddressOptions", Model, new ViewDataDictionary { { "addressType", "billing" } }); }

            </div>
            @{ Html.RenderPartial("../Checkout/_DisplayAddress", Model.BillingAddress, new ViewDataDictionary { { "addressType", "billing" } });}
        </div>
    </div>
</div>
@Html.Partial("_ModalPopUp", new ViewDataDictionary { { "modal-title", WebStore_Resources.LabelConfirmAddress }, { "jqueryFunction", "onclick=User.prototype.HideShowAddressPopUP()" } })
<script src="~/Scripts/lib/jquery.validate.unobtrusive.min.js"></script>