﻿<div class="newsletter-widget">
    <div class="col-xs-12 col-sm-3">
        <strong>@Html.Label("Subscribe To Our Newsletter", new { @data_test_selector = "lblSubscribeNewsLetter", @class = "SubscribeLbl" })</strong>
    </div>
    <div class="col-xs-12 col-sm-8 input-field" style="margin-top: 5px;">
        @*@using (Ajax.BeginForm("SignUpForNewsLetter", "Home", null, new { @id = "searchform" }))
        {*@ <form method="post" action="https://app.icontact.com/icp/signup.php" name="icpsignup" id="icpsignup6383" accept-charset="UTF-8"
                  data-ajax="true" data-ajax-begin="ZnodeBase.prototype.ShowLoader()" 
                    data-ajax-complete="newsletterSucess"
                  
                  >
    @*<input type="hidden" name="redirect" value="http://www.awishcometrue.com/cgi-bin/team/cp-app.cgi?&amp;amp;amp;amp;amp;amp;pg=ste_maillist_confirm">*@
    <input type="hidden" name="errorredirect" value="https://www.icontact.com/www/signup/error.html">
    <input type="hidden" name="redirect" value="#">
  
    <div class="input-group Setbordernone" id="newsletter" style="margin: 10px 0">
        @*<input type="text" name="fields_email" id="fields_email">*@
        @Html.TextBox("fields_email", "", new { placeholder = WebStore_Resources.LabelSenderMailId, @data_test_selector = "txtNewsLetterEmail", @title = "Your Email Address",@style= "color:black" })
        <span class="input-group-btn">
            @*<button class="btn btn_search btn-bg-primary" id="btnNewsLetterSignUp" type="button" onclick="Home.prototype.ValidationForEmailID();" data-test-selector="btnNewsLetterSignUp" style="margin-left: 10px" title="Subscribe">Subscribe</button>*@
            <input type="hidden" name="listid" value="89212">
            <input type="hidden" name="specialid:89212" value="HMT7">

            <input type="hidden" name="clientid" value="267769">
            <input type="hidden" name="formid" value="6383">
            <input type="hidden" name="reallistid" value="1">
            <input type="hidden" name="doubleopt" value="0">
            @*<input id="btnicontactsubmit" type="submit" class="btn btn_search btn-bg-primary" style="margin-left: 10px" title="Subscribe"  name="Submit" value="Submit">*@
            <button class="btn btn_search btn-bg-primary" id="btnNewsLetterSignUp" type="button"  data-test-selector="btnNewsLetterSignUp" style="margin-left: 10px" title="Subscribe"
                    onclick="return ValidateEmail($(this));"
                    >Subscribe</button>
        </span>
    </div>
        </form>
    @*}*@
    <p id="newslettererrormessage" style="display:none" data-test-selector="lblnewslettererrmsg"></p>
</div>
</div>


@*Code For Signup by KV*@
@*<style>

    .link,
    .link a,
    .signupframe {
        color: #ED18D0;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
    }

        .link,
        .link a {
            text-decoration: none;
        }

    .signupframe {
        border: 1px solid #000000;
        background: #ffffff;
    }

        .signupframe .required {
            font-size: 10px;
        }
</style>*@

@* //** NIVI Code **//*@
@*<div style=" display :none ">
    <form method="post" action="https://app.icontact.com/icp/signup.php" name="icpsignup" id="icpsignup6383" accept-charset="UTF-8">
        <input type="hidden" name="redirect" value="http://www.awishcometrue.com/cgi-bin/team/cp-app.cgi?&amp;amp;amp;amp;amp;amp;pg=ste_maillist_confirm">
        <input type="hidden" name="errorredirect" value="https://www.icontact.com/www/signup/error.html">
        <input type="hidden" name="redirect" value="http://localhost:3288">
        <input type="hidden" name="redirect" value="http://awishcometrue.com/">

        <div id="SignUp">
            <table width="260" class="signupframe" border="0" cellspacing="0" cellpadding="5">
                <tr>
                    <td valign="top" align="right">
                        <span class="required">*</span> Email
                    </td>
                    <td align="left">
                        <input type="text" name="fields_email" id="fields_email">
                    </td>
                </tr>

                

                <tr>
                    <td> </td>
                    <td>
                        <input type="hidden" name="listid" value="89212">
                        <input type="hidden" name="specialid:89212" value="HMT7">

                        <input type="hidden" name="clientid" value="267769">
                        <input type="hidden" name="formid" value="6383">
                        <input type="hidden" name="reallistid" value="1">
                        <input type="hidden" name="doubleopt" value="0">
                        <input id="btnicontactsubmit" type="submit" name="Submit" value="Submit">
                    </td>
                </tr>
            </table>
        </div>
    </form>
        </div>*@ 

 @*<script type="text/javascript">

        var icpForm6383 = document.getElementById('icpsignup6383');

        if (document.location.protocol === "https:")

            icpForm6383.action = "https://app.icontact.com/icp/signup.php";


        function validDate6383(value) {

            if (value == "") {
                return true;
            }

            var dateSections = value.split('/');
            if (dateSections.length != 3) {
                return false;
            }

            var month = dateSections[0];
            if (month && (month.length > 2 || month < 1 || month > 12)) {
                return false;
            }

            var day = dateSections[1];
            if (day && (day.length > 2 || day < 1 || day > 31)) {
                return false;
            }

            var year = dateSections[2];
            if (!year || (year && year.length != 4)) {
                return false;
            }

            var dateValue = new Date(value);
            if (month != (dateValue.getMonth() + 1) || day != dateValue.getDate() || year != dateValue.getFullYear()) {
                return false;
            }

            return true;
        }
    </script>*@ 


    
<script>    
    function newsletterSucess(data) {
        ZnodeBase.prototype.HideLoader(); 
          Home.prototype.icontactsuccess();
    }
    function ValidateEmail(control)
    { 
        if (Home.prototype.icontactEmailValidation()) {
              $(control).closest('form').submit();
                return true;
            }
            return false;            
}
</script>