﻿@using Znode.Engine.WebStore.ViewModels

@model SearchResultViewModel
<div class="list-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title panel-title-edit accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne_Cat" style="padding: 8px 7px"><span data-test-selector="lblMoreCategoriesFacets">@WebStore_Resources.TextMoreCategories</span></h4> 
        </div>
        <div id="collapseOne_Cat" class="panel-collapse collapse in">
            <div class="panel-body">
                <ul class="filter-list">
                    @if (Model?.Categories.Count>0)
                    {
                        foreach (var category in Model.Categories)
                        {
                            <li>
                                <a href="@category.Categoryurl">@category.CategoryName<sup>(@category.Count)</sup></a>
                                @if (!Equals(category.Hierarchy, null) && category.Hierarchy.Count > 0)
                                {
                                    <ul class="filter-list">
                                        @foreach (var subCategory in category.Hierarchy)
                                        {
                                            <li>
                                                <a href="@subCategory.Categoryurl">@subCategory.CategoryName<sup>(@subCategory.Count)</sup></a>
                                            </li>
                                        }
                                    </ul>
                                }
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
