﻿@using Znode.Engine.WebStore.ViewModels
@using Znode.Engine.WebStore.Agents
@model CartViewModel
@{
    var CultureCode = string.IsNullOrEmpty(Model.CultureCode) ? DefaultSettingHelper.DefaultCurrency : Model.CultureCode;
    int PublishStateId = (byte)PortalAgent.CurrentPortal.PublishState;
}

<div class="form-group total mb-0">
    <div class="col-12 block-title">Order Summary</div>
    <div class="col-12 block-content">
        <div class="row no-gutters">
            <div class="col-6">
        <p data-test-selector="paraSubTotal">@WebStore_Resources.LabelSubTotal</p>
            </div>
            <div class="col-6 p-0 text-right" data-test-selector="txtSubTotal">
                @Helper.FormatPriceWithCurrency(Model.SubTotal, CultureCode)
            </div>
        </div>
        @if (Model.TaxCost > 0)
        {
            <div class="row no-gutters mt-2">
                <div class="col-6">
                    <p>@WebStore_Resources.ColumnTax</p>
                </div>
                <div class="col-6 p-0 text-right">
                    @Helper.FormatPriceWithCurrency(Model.TaxCost, CultureCode)
                </div>
            </div>
        }
        @if (Model.ShippingCost > 0)
        {
            string shipName = string.IsNullOrEmpty(Model?.ShippingName) ? "" : $"({Model?.ShippingName})";
            <div class="row no-gutters mt-2">
                <div class="col-6">
                    <p data-test-selector="paraShippingNameLabel">@WebStore_Resources.LabelShippingCost @shipName</p>
                </div>
                <div class="col-6 p-0 text-right" data-test-selector="ShippingCost">
                    <div  data-test-selector="divShippingCost" id="dynamic-shipping-amount">@Helper.FormatPriceWithCurrency(Model.ShippingCost, CultureCode)</div>
                </div>
            </div>
        }
        @if (Model.GiftCardApplied)
        {
            <div class="row no-gutters mt-2">
                <div class="col-6">
                    <p data-test-selector="paraGiftCardAmt">@WebStore_Resources.ColumnGiftCardAmount</p>
                </div>
                <div class="col-6 p-0 text-right" data-test-selector="GiftCardApplied">
                    <div id="dynamic-giftcard-amount" class="left-sm-shift">@Helper.FormatPriceWithCurrency(0 - Model.GiftCardAmount, CultureCode)</div>
                </div>
            </div>
        }
        @if (Model.Discount > 0 || Model.Shipping.ShippingDiscount > 0)
        {
            var total = Model.Discount + Model.Shipping.ShippingDiscount;
            <div class="row no-gutters mt-2">
                <div class="col-6">
                    <p data-test-selector="paraDiscount">@WebStore_Resources.ColumnDiscounts</p>
                </div>
                <div class="col-6 p-0 text-right" data-test-selector="txtShippingDiscount">
                    <div id="dynamic-discount-amount">@Helper.FormatPriceWithCurrency(0 - total, CultureCode)</div>
                </div>
            </div>
        }
    </div>
    <div class="col-12 block-content border-top">
        <div class="row no-gutters">
            <div class="col-6">
                <h2 data-test-selector="hdgOrdertotal" class="m-0">@WebStore_Resources.ColumnOrderTotal</h2>
            </div>
            <div class="col-6 p-0 text-right" data-test-selector="txtTotalAmt">
                <div id="dynamic-order-total"><h2 data-test-selector="hdgOrderGrandTotal" class="m-0">@Helper.FormatPriceWithCurrency(Model.Total, CultureCode)</h2></div>
                @Html.Hidden("hdnTotalOrderAmount", Model.Total)
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="Total" value="@Model.Total" />
@Html.HiddenFor(m => m.SubTotal)

@Html.HiddenFor(m => m.Discount)

@Html.HiddenFor(m => m.ShippingCost)

@Html.HiddenFor(m => m.GiftCardAmount)

@Html.Hidden("hdnCurrencySuffix", Model.CurrencySuffix)

@Html.Hidden("hdnCurrencyCode", Model.CurrencyCode)

@Html.Hidden("hdnCustomerGUID", Model.CustomerPaymentGUID)

@Html.Hidden("hdnAnonymousUser", Model.UserId)
<script>
    var coupon = @Html.Raw(Json.Encode(Model.Coupons));
    if (coupon.length > 0) { Cart.prototype.ShowCouponsMessages(coupon)};
</script>
