﻿@using Znode.WebStore.Custom.ViewModel
@model AWCTTruColorViewModel
@{
    Layout = null;
    var trucolorlist = Model?.TruColorList?.ToList();
    string VisibleOptionList = "";
    string VisibleCustomText = "";
    string milliseconds = DateTime.Now.Month.ToString("d2") + DateTime.Now.Day.ToString("d2") + DateTime.Now.Year.ToString("d4") + DateTime.Now.Hour.ToString("d2") + DateTime.Now.Minute.ToString("d2") + DateTime.Now.Second.ToString("d2") + DateTime.Now.Millisecond.ToString("d2");
    string fileName = milliseconds.ToString() + ".svg";
    var SvgFilePath = Model?.TruColorList?.FirstOrDefault()?.SvgFilePath;
}
@{
    string csvAvailableOptionName = "";
    var OPtionList = trucolorlist.Select(x => x.TruColorOptionName).Distinct();
    <div class="col-xs-12 col-lg-12 col-md-12 nopadding">
        <div class="col-lg-5 col-md-5 col-xs-12 setborfortrueimg" id="objsvg">
            <div class="col-xs-12 nopadding margin-bottom colortexttrue hidden-sm hidden-lg hidden-md">
                @Html.RenderMessage("TrueColorPopupInnerText")
            </div>
            @{
                WebRequest request = WebRequest.Create(SvgFilePath);
                try
                {
                    WebResponse response = request.GetResponse();
                    Stream stream = response.GetResponseStream();
                    StreamReader reader = new StreamReader(stream);
                    dynamic result = reader.ReadToEnd();
                    stream.Dispose();
                    reader.Dispose();
                    @Html.Raw(result);
                }
                catch (Exception){}
            }
        </div>
        <div class="col-lg-7 col-md-7 col-xs-12 nopadding">
            <div class="col-xs-12 nopadding margin-bottom colortexttrue hidden">@Html.RenderMessage("TrueColorPopupInnerText")</div>
            <div class="col-xs-12 nopadding setorderfortrue">
                <!--Step 1 Select Colors-->
                <div class="col-xs-12">
                    <div class="form-group">@Html.RenderMessage("TrueColorPopupInnerTextStep1")</div>
                    <div class="form-group">
                        @{
                            foreach (var itm in OPtionList)
                            {
                                if (trucolorlist.Where(x => x.TruColorOptionName == itm).ToList().Count() > 0)
                                {
                                    var listOption = trucolorlist.Where(x => x.TruColorOptionName == itm).ToList();
                                    var TruColorOptionName = @listOption.Select(a => a.TruColorOptionName).First();
                                    var TruColorName = @listOption.Select(a => a.TruColorName).First();
                                    var OptionLabel = listOption.Select(a => a.GlobalAttributeLabel).First();
                                    var TextId = "txtCaption";
                                    csvAvailableOptionName =  TruColorOptionName + "- " + OptionLabel + ":";
                                    var ddlname = "ddlOptions" + @TruColorOptionName;
                                    <div class="row divTruOptionsTemp">
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            <div class="form-group titletruebold">
                                                <p><span>@TruColorOptionName </span><b>@OptionLabel<span class="text-primary">*</span></b></p>
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                            <div class="form-group">
                                                @*for custom text and Available Dropdowns*@
                                                @if (listOption.Count == 1 && (listOption.First().TruColorName == "TextBoxCustomTxt"))
                                                {
                                                    VisibleOptionList = "none";
                                                    VisibleCustomText = "block";
                                                    TextId = "txtCaption trutext";
                                                }
                                                else
                                                {
                                                    VisibleOptionList = "block";
                                                    VisibleCustomText = "none";
                                                }
                                                <select class="form-control awcttruecolorsfield" id='@ddlname' data-truid="@TruColorOptionName " style="display:@VisibleOptionList">
                                                    <option value="0">Options</option>
                                                    @foreach (var item in listOption)
                                                    {
                                                        <option value="@item.TruColorValue" data-trufill="@item.ColorHashCode" data-truid="@TruColorOptionName">@item.TruColorName</option>

                                                    }
                                                </select>
											   @if (TextId.Contains("trutext"))
                                                {
                                                    string[] Text = csvAvailableOptionName.Split('-');
                                                    Text = Text.Select(s => s.Replace(Text[1], "-")).ToArray();
                                                    csvAvailableOptionName = string.Join("", Text);
                                                }
                                                <p class="AvailableOptionNameP hidden">@csvAvailableOptionName</p>
                                                <input type="text" name="name" value="" class="@TextId" style="height:35px;display:@VisibleCustomText" />

                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <!--Step 2 Enter Quantity-->
                <div class="col-xs-12">
                    <div class="form-group">@Html.RenderMessage("TrueColorPopupInnerTextStep2")</div>
                    <div class="form-group">
                        <div class="table-responsive">
                            <table class="Customize-colorbox">
                                <thead id="truQtyTableHead">
                                </thead>
                                <tbody id="truQtyTableBody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--Step 3 Read Content-->
                <div class="col-xs-12">
                    <div class="form-group">
                        @Html.RenderMessage("TrueColorPopupInnerTextStep3")
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="TruColorSvgDataUri" value="" />
    <input type="hidden" id="TruColorOptionCsv" value="" />
    <input type="hidden" id="TruColorFileNameToSave" value="@fileName" />
    <input type="hidden" id="hdnIsTruColor" value="1" />
    <input type="hidden" id="hdnTruCustomisationValidation" value="0" />
}
<script>
    //function copyTrucolorGrid() { $("#truQtyTableHead").html(""), $("#truQtyTableBody").html(""), $("#dynamic-product-variations").find("thead tr:first").clone().appendTo("#truQtyTableHead"), $("#dynamic-product-variations tr:last").clone().appendTo("#truQtyTableBody"), $("#truQtyTableBody input[type=text]").prop("onchange", null).off(""), $("#truQtyTableBody input[type=text]").removeClass("quantitychanged"), $("#truQtyTableBody .quantity").attr("onchange", ""), $("#truQtyTableBody input[type=text]").removeClass("quantity"), $("#truQtyTableBody input[type=text]").addClass("PopupTruqty"), $("#truQtyTableBody tr:first td:first").remove(), $("#truQtyTableHead tr:first th:first").remove() } function TruColorPopUpQtyToMain() { $("#truQtyTableBody  .PopupTruqty").each(function (t) { $("#dynamic-product-variations tr:last td").eq(t + 1).find("input").val($(this).val()) }), $("#truQtyTableHead").html(""), $("#truQtyTableBody").html(""), calculatePrice() } $(document).ready(function () { $(".awcttruecolorsfield").on("change", function () { var t = this.options[this.selectedIndex].getAttribute("data-trufill"), l = this.options[this.selectedIndex].getAttribute("data-truid"); l = this.getAttribute("data-truid"), $("#objsvg #" + l).find("path, rect, circle, ellipse, line, polyline, polygon").attr({ fill: t, style: "fill:" + t }), $("#objsvg #" + l).find("path, rect, circle, ellipse, line, polyline, polygon").css("background-color", t).css("fill", t) }); var t = $("#objsvg #A").find("path, rect, circle, ellipse, line, polyline, polygon").attr("fill"), l = $("#objsvg #B").find("path, rect, circle, ellipse, line, polyline, polygon").attr("fill"), i = $("#objsvg #C").find("path, rect, circle, ellipse, line, polyline, polygon").attr("fill"), e = $("#objsvg #D").find("path, rect, circle, ellipse, line, polyline, polygon").attr("fill"), o = $("#objsvg #E").find("path, rect, circle, ellipse, line, polyline, polygon").attr("fill"), n = $("#objsvg #F").find("path, rect, circle, ellipse, line, polyline, polygon").attr("fill"), r = $("#objsvg #G").find("path, rect, circle, ellipse, line, polyline, polygon").attr("fill"), a = $("#objsvg #H").find("path, rect, circle, ellipse, line, polyline, polygon").attr("fill"), p = $("#objsvg #R").find("path, rect, circle, ellipse, line, polyline, polygon").attr("fill"), d = $("#objsvg #Z").find("path, rect, circle, ellipse, line, polyline, polygon").attr("fill"); $("#ddlOptionsA option")[0].setAttribute("data-trufill", t), $("#ddlOptionsB option")[0].setAttribute("data-trufill", l), $("#ddlOptionsC option")[0].setAttribute("data-trufill", i), $("#ddlOptionsD option")[0].setAttribute("data-trufill", e), $("#ddlOptionsE option")[0].setAttribute("data-trufill", o), $("#ddlOptionsF option")[0].setAttribute("data-trufill", n), $("#ddlOptionsG option")[0].setAttribute("data-trufill", r), $("#ddlOptionsH option")[0].setAttribute("data-trufill", a), $("#ddlOptionsR option")[0].setAttribute("data-trufill", p), $("#ddlOptionsZ option")[0].setAttribute("data-trufill", d) });
    function SaveSvg() { $("#TruColorOptionCsv").val(""); var t = (new XMLSerializer).serializeToString($("#objsvg svg")[0]), o = window.btoa(unescape(encodeURIComponent(t))); $("#TruColorSvgDataUri").val(o); var e = ""; $(".setorderfortrue select option:selected").each(function () { e = $(this).text() + " "; var t = $(this).parent().parent().find("p").html() + " " + e, o = $("#TruColorOptionCsv").val(), r = $(this).parent().parent().find(".txtCaption").first().val() + " \n "; $("#TruColorOptionCsv").val(o + " " + t + " " + r) }), $("#TruColorOptionCsv").val($("#TruColorOptionCsv").val().replace("TextBoxCustomTxt", " ")) }
    function TruColorPopUpQtyToMain() {
        var iflag = true;
        $('.awcttruecolorsfield').each(function () {
            if ($(this).find('option:selected').text() == '') {
                iflag = false;
            }
            else if ($(this).find('option:selected').text() == 'Options' && $(this).is(":visible")) {
                iflag = false;
            }
        });
		
        $('.trutext').each(function () {
            if ($(this).val() == '') {
                iflag = false;
            }
        });
        if (iflag == true) {
            $("#truQtyTableBody  .PopupTruqty").each(function (t) {

                var txtVal = $(this).val();
                if (txtVal == "0" || txtVal == "00" || txtVal == "000" || txtVal == "0000") {
                    $(this).val("");
                }
                $("#dynamic-product-variations .Personalizable td").eq(t + 1).find("input").val($(this).val());
                if ($(this).val() > 0) {
                    $("#dynamic-product-variations .Personalizable td").eq(t + 1).find("input").addClass("quantitychanged");
                    $("#dynamic-product-variations .Personalizable td").eq(t + 1).find("input").removeClass("quantity");
                }
            }), $("#truQtyTableHead").html(""), $("#truQtyTableBody").html(""), calculatePrice(), SaveSvg()
        }
        else {
            ZnodeNotification.prototype.DisplayNotificationMessagesHelper("Please complete all fabric options for your TrueColors costume before choosing to add customized items.", "error", true, fadeOutTime);
        }
    }

    $(document).ready(function () {
	
	     $(".trutext").focusout(function () {
               $(".PopupTruqty").each(function () {
                   if (!$.isNumeric($(this).val())) {
                       $(this).val('');
                   }
               });
       });
       $(".trutext").focusin(function () {
           $(".PopupTruqty").each(function () {
               if (!$.isNumeric($(this).val())) {
                   $(this).val('');
               }
           });
       });

        $(".awcttruecolorsfield").on("change", function () {

            var t = this.options[this.selectedIndex].getAttribute("data-trufill"),
                l = this.options[this.selectedIndex].getAttribute("data-truid");
            l = this.getAttribute("data-truid"), $("#objsvg #" + l).find("path, rect, circle, ellipse, line, polyline, polygon").attr({
                fill: t,
                style: "fill:" + t
            }), $("#objsvg #" + l).find("path, rect, circle, ellipse, line, polyline, polygon").css("background-color", t).css("fill", t)
        });
        var t = $("#objsvg #A").find("path, rect, circle, ellipse, line, polyline, polygon").attr("fill"),
            l = $("#objsvg #B").find("path, rect, circle, ellipse, line, polyline, polygon").attr("fill"),
            i = $("#objsvg #C").find("path, rect, circle, ellipse, line, polyline, polygon").attr("fill"),
            e = $("#objsvg #D").find("path, rect, circle, ellipse, line, polyline, polygon").attr("fill"),
            o = $("#objsvg #E").find("path, rect, circle, ellipse, line, polyline, polygon").attr("fill"),
            n = $("#objsvg #F").find("path, rect, circle, ellipse, line, polyline, polygon").attr("fill"),
            r = $("#objsvg #G").find("path, rect, circle, ellipse, line, polyline, polygon").attr("fill"),
            a = $("#objsvg #H").find("path, rect, circle, ellipse, line, polyline, polygon").attr("fill"),
            p = $("#objsvg #R").find("path, rect, circle, ellipse, line, polyline, polygon").attr("fill"),
            d = $("#objsvg #Z").find("path, rect, circle, ellipse, line, polyline, polygon").attr("fill");
        $("#ddlOptionsA option")[0].setAttribute("data-trufill", t), $("#ddlOptionsB option")[0].setAttribute("data-trufill", l), $("#ddlOptionsC option")[0].setAttribute("data-trufill", i), $("#ddlOptionsD option")[0].setAttribute("data-trufill", e), $("#ddlOptionsE option")[0].setAttribute("data-trufill", o), $("#ddlOptionsF option")[0].setAttribute("data-trufill", n), $("#ddlOptionsG option")[0].setAttribute("data-trufill", r), $("#ddlOptionsH option")[0].setAttribute("data-trufill", a), $("#ddlOptionsR option")[0].setAttribute("data-trufill", p), $("#ddlOptionsZ option")[0].setAttribute("data-trufill", d)
    });
</script>