﻿@model Znode.Engine.WebStore.ViewModels.ProductViewModel
@using Znode.Engine.WebStore.Agents
@{
    var _portal = PortalAgent.CurrentPortal;
    string _fileLocation = $"/Views/Themes/{_portal.Theme}";
    int productId = Model.ConfigurableProductId > 0 ? Model.ConfigurableProductId : Model.PublishProductId;
}
<div id="layout-product" class="main-wrapper product-meta big-view-template" data-id="@productId">
    <div class="container-fluid">
        <div class="col-lg-12 col-md-12 mobile-no-padding">
            <!-- Breadcrumb -->
            <div data-test-selector="divBreadCrumb" id="breadCrumb" class="breadcrumb-container"></div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 mobile-no-padding">
        <div class="row">
            @Html.Partial("_QuickViewProductView", Model)
            <!--Get Product content like features and cutomer reviews-->
            @Html.Partial("_ProductContent", Model)
            <div class="col-xs-12 nopadding">
                <div class="product-extras">
                    @Html.Partial("_ProductExtras", Model)
                </div>
            </div>
        </div>
    </div>
    @Html.Hidden("categoryIds", string.Join(",", Model.ZnodeProductCategoryIds), new { @id = "categoryIds" })
    <div id="successMessageDiv" style="display:none">
    </div>
    <div id="divSendMail" style="display:none">
    </div>
</div>

<!--Template Level Script-->
<script src="@_fileLocation/Scripts/lib/jquery.simpleGallery.js"></script>
<script src="@_fileLocation/Scripts/lib/jquery.simpleLens.js"></script>

<!--Product Zoom Effect-->
<script>
    $('#ImageZoom .simpleLens-thumbnails-container img').simpleGallery();
    $('#ImageZoom .simpleLens-big-image').simpleLens(
        {
        loading_image: '@Helper.GetThemeFilePath($"/Views/Themes/", "/Images/loading.gif")',
        open_lens_event: 'click'
    }
    );
</script>