﻿@{
    ViewBag.Title = "SiteMap";
}
<div id="layout-content">
    <div class="container-fluid">
        <div class="col-lg-12 mobile-no-padding">
            <div class="col-sm-12 site-map-container">
                <div class="col-xs-12 nopadding">
                    <h1 id="ktitle" class="page-title" data-test-selector="lblSiteMapHeading">Site Map</h1>
                </div>
                <div class="col-xs-12 col-sm-4 nopadding">
                    <h4 class="section-header" data-test-selector="lblSiteMapContentPageHeading">Content Pages</h4>
                    <ul id="SiteMapMenu"></ul>
                </div>
                <div class="col-xs-12 col-sm-4 nopadding category-list">
                    <h4 class="section-header" data-test-selector="lblSiteMapCatalogHeading">Catalog Map</h4>
                    <ul id="ulCatelogMap"></ul>
                    <div id="divCatelogMap">
                        <button data-test-selector="btnLoadMore" onclick="SiteMap.prototype.LoadCatalog(1,1)" class="btn btn-primary">Load More</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 nopadding category-list">
                    <h4 class="section-header" data-test-selector="lblSiteMapProductHeading">Products Map</h4>
                    <ul id="ulProductMap"></ul>
                    <div id="divProductMap">
                        <button data-test-selector="btnLoadMore" class="btn-text btn-bg-primary" onclick="SiteMap.prototype.CheckAndBindProducts(2,200)">Load More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

