﻿@using Znode.Engine.WebStore.ViewModels
@using Microsoft.AspNet.Identity
@model UserViewModel
@using Znode.Libraries.ECommerce.Utilities
@using Znode.Engine.WebStore.Agents;
@{
    var currentPortal = PortalAgent.CurrentPortal;
    string enableECert = currentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableECertificate)?.AttributeValue;

    var paymentSettingId = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey)?.PaymentSettingId;

    var CustomerPaymentGUID = SessionHelper.GetDataFromSession<UserViewModel>(WebStoreConstants.UserAccountKey)?.CustomerPaymentGUID;
    List<string> urls = Model.ReferralCommissionData.Url?.Split(',')?.ToList();
    bool isApprovalRouting = Convert.ToBoolean(PortalAgent.CurrentPortal?.GlobalAttributes?.Attributes?.FirstOrDefault(x => x.AttributeCode == WebStoreConstants.EnableApprovalManagement)?.AttributeValue);
}

<div id="layout-account-dashboard" class="main-wrapper">
    <div class="container-fluid">
        <div class="user-account">
            <div class="col-xs-12 mobile-no-padding">
                <h1 class="page-title">@WebStore_Resources.LinkTextYourAccount</h1>
            </div>
            <div class="col-xs-12 account-dashboard mobile-no-padding">
                <div class="col-sm-3 col-lg-2 nopadding">
                    <nav class="account-container-menu">
                        @Html.Partial("_AccountMenu")
                    </nav>
                </div>
                <div class="col-xs-12 col-sm-9 col-lg-10 right-container">
                    @if (!Equals(Model, null))
                    {
                        @*<div class="col-xs-12 nopadding margin-bottom dashboard-content">
                            <h3 class="section-header">@WebStore_Resources.SubTextYourWishList</h3>
                            <p>
                                @string.Format(WebStore_Resources.SubTextWishlistItems, (Model?.WishList != null ? Model.WishList.Count : 0))
                            </p>
                            <div class="col-xs-12 margin-top nopadding">
                                <a href="/User/Wishlist" class="pull-right">@WebStore_Resources.LinkTextViewWishList</a>
                            </div>
                        </div>

                        <div class="col-xs-12 nopadding margin-bottom dashboard-content">
                            <h3 class="section-header">@WebStore_Resources.SubTitleRecentOrders</h3>
                            @Html.Partial("_OrderHistory", Model.OrderList)
                            <div class="col-xs-12 margin-top nopadding">
                                @if (!Equals(Model.OrderList, null) && Model.OrderList.Any())
                                {
                                    <a href="/User/History" class="pull-right">@WebStore_Resources.LinkTextCompleteOrderHistory</a>
                                }
                            </div>
                        </div>*@

                        <div class="col-xs-12 nopadding margin-bottom dashboard-content">
                            <h3 class="section-header">@WebStore_Resources.TitleAddressBook</h3>
                            <div class="col-xs-12 nopadding dashboard-addresses">
                                <div class="col-xs-12 col-sm-6 nopadding margin-bottom">
                                    <h5>@WebStore_Resources.SubTitlePrimaryShipping</h5>
                                    @if (!Equals(Model.ShippingAddress, null))
                                    {
                                        Model.ShippingAddress.RoleName = Model.RoleName;
                                        <div class="col-xs-12 col-sm-11 nopadding">
                                            @Html.Partial("../User/_DisplayAddress", Model.ShippingAddress ?? new AddressViewModel())
                                        </div>
                                    }
                                    else
                                    {
                                        <p>@WebStore_Resources.ErrorNoPrimaryAddress</p>
                                    }
                                </div>
                                <div class="col-xs-12 col-sm-6 nopadding margin-bottom">
                                    @if (!Equals(Model.BillingAddress, null))
                                    {
                                        Model.BillingAddress.RoleName = Model.RoleName;
                                        <div class="col-sm-offset-1">
                                            <h5>@WebStore_Resources.SubTitlePrimaryBilling</h5>
                                            @Html.Partial("../User/_DisplayAddress", Model.BillingAddress ?? new AddressViewModel())
                                        </div>
                                    }
                                    else
                                    {
                                        <h5>@WebStore_Resources.SubTitlePrimaryBilling</h5>
                                        <p>@WebStore_Resources.ErrorNoPrimaryAddress</p>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-12 margin-top nopadding">
                                <div class="pull-right action-links">
                                    <a href="/User/AddressBook">@WebStore_Resources.LinkTextViewAddressBook</a>
                                    @if (Model.Permission)
                                    {
                                        <a href="/User/Address" class="border-left">@WebStore_Resources.LinkAddNewAddress</a>
                                    }
                                </div>
                            </div>
                        </div>
                            if (Model.PendingOrdersCount > 0)
                            {
                                <div class="col-xs-12 nopadding dashboard-content">
                                    <div>
                                        <h3 class="section-header">@WebStore_Resources.LinkTextPendingOrderHistory</h3>
                                        <p>
                                            @WebStore_Resources.LinkTextPendingOrderHistory
                                        </p>
                                    </div>
                                    <div class="pull-right action-links">
                                        <a href="/User/QuoteHistory" class="pull-right">@WebStore_Resources.LinkTextPendingOrderHistory</a>
                                    </div>
                                </div>
                            }
                            if (Model.IsApprover)
                            {
                                <div class="col-xs-12 nopadding dashboard-content">
                                    <div>
                                        <h3 class="section-header">@WebStore_Resources.TextPendingOrderApprovalHistory</h3>
                                        <p>
                                            @WebStore_Resources.TextPendingOrderApprovalHistory
                                        </p>
                                    </div>
                                    <div class="pull-right action-links">
                                        <a href="/User/QuoteApprovalHistory" class="pull-right">@WebStore_Resources.TextViewPendingOrderApprovalHistory</a>
                                    </div>
                                </div>
                            }
                            if (Model.PendingPaymentCount > 0)
                            {
                                <div class="col-xs-12 nopadding dashboard-content">
                                    <div>
                                        <h3 class="section-header">@WebStore_Resources.LinkTextPendingPaymentHistory</h3>
                                        <p>
                                            @WebStore_Resources.LinkTextPendingPaymentHistory
                                        </p>
                                    </div>
                                    <div class="pull-right action-links">
                                        <a href="/User/PaymentQuoteHistory" class="pull-right">@WebStore_Resources.LinkTextViewPendingPaymentHistory</a>
                                    </div>
                                </div>
                            }
                        <div class="col-xs-12 nopadding margin-bottom dashboard-content">
                            <h3 class="section-header">@WebStore_Resources.SubTextYourReviews</h3>
                            <p>@string.Format(WebStore_Resources.SubTextReviewItems, Model.ReviewCount)</p>
                            <div class="col-xs-12 nopadding">
                                <a href="/User/Reviews" class="pull-right">@WebStore_Resources.LinkTextViewReviews</a>
                            </div>
                        </div>

                        @*We are not Using this
                            <div class="dashboard-content">
                            <h3 class="section-header">@WebStore_Resources.SubTextGiftCardHistory</h3>
                            <p>@string.Format(WebStore_Resources.SubTextGiftCardHistoryItems, Model.GiftCardCount)</p>
                            <div class="col-xs-12 nopadding">
                                <a href="/User/GiftCardHistory" class="pull-right">@WebStore_Resources.LinkTextViewGiftCardHistory</a>
                            </div>
                        </div>*@

                        <div class="col-xs-12 nopadding margin-top-bottom dashboard-content">
                            <h3 class="section-header">@WebStore_Resources.TitleAccountProfile</h3>
                            @WebStore_Resources.ColumnUsername :
                            <a href="/User/EditProfile" class="dashboard-profile">
                                @User.Identity.GetUserName()<br />
                            </a>
                            @WebStore_Resources.EmailAddress :
                            <a href="/User/EditProfile" class="dashboard-profile">
                                @Model.Email<br />
                            </a>
                            @if (!string.IsNullOrEmpty(enableECert) && Convert.ToBoolean(enableECert))
                            {
                                <z-widget>
                                    @Ajax.AjaxWidgetPartial("ECertUsertProfileDashboardTotal", "ECertUsertProfileDashboardTotal", "101", "PortalMapping")
                                </z-widget>
                            }
                            <div class="col-xs-12 margin-top nopadding">
                                <div class="pull-right action-links">
                                    <a href="/User/EditProfile">@WebStore_Resources.LinkTextEditProfile</a>
                                    <a href="/User/ChangePassword" class="border-left">@WebStore_Resources.LinkTextChangePassword</a>
                                    @if (!string.IsNullOrEmpty(enableECert) && Convert.ToBoolean(enableECert))
                                    {
                                        <a href="/User/eCertificateBalance" class="border-left">@WebStore_Resources.ECertManageECertificateButtonLabel</a>
                                    }
                                </div>
                            </div>
                        </div>
                        @*We are not Using This 
                            <div class="col-xs-12 nopadding dashboard-content">
                            <h3 class="section-header">@WebStore_Resources.LinkSavedCreditCard</h3>
                            <div class="col-xs-12 nopadding">
                                @Html.RenderBlock(@WebStore_Resources.TextSavedCCDetailsCount)
                                <div class="col-xs-12 nopadding">
                                    <a href="/User/GetSavedCreditCards" class="pull-right">@WebStore_Resources.LinkSavedCC</a>
                                </div>
                            </div>
                        </div>*@

                        @*@Html.Partial("../User/_AffiliateInformation", Model.ReferralCommissionData)*@

                        if (Model.HasApprovers)
                        {
                            <div class="col-xs-12 nopadding dashboard-content">
                                <div>
                                    <h3 class="section-header">@WebStore_Resources.TextApprovalList</h3>
                                    <p>
                                        @WebStore_Resources.TextApprovalList
                                    </p>
                                </div>
                                <div class="pull-right action-links">
                                    <a href="/User/UserApprovalList" class="pull-right">@WebStore_Resources.TextApprovalList</a>
                                </div>
                            </div>
                        }

                    }
                </div>
            </div>
        </div>
        @Html.Hidden("hdnCustomerGUID")
        @Html.Hidden("hdnGatwayName")
        @Html.Hidden("paymentProfileId")
        @Html.Hidden("hdnPaymentCode")
    </div>
</div>
<script>$(document).ready(function () { User.prototype.ShowCardPaymentOptions("@CustomerPaymentGUID"); });</script>