﻿@model AutoComplete
@using Znode.Engine.WebStore.Agents
@using System.Globalization
@using Znode.Libraries.ECommerce.Utilities;
@{
    string regionName = string.Empty;
    bool isChromeSpecificVoiceSearch = false;
    foreach (var item in PortalAgent.CurrentPortal.Locales)
    {
        int localeid = Convert.ToInt32(Request.Cookies["_WebStoreculture"].Value);
        if (item.LocaleId == localeid)
        {
            CultureInfo culture = new CultureInfo(item.Code);
            regionName = culture.Name;
        }
    }

    bool isEnableVoiceBasedSearch = (bool)PortalAgent.CurrentPortal.PortalFeatureValues.Where(x => x.Key.Contains(HelperUtility.StoreFeature.Enable_Voice_Based_Search.ToString()))?.FirstOrDefault().Value;
}
<div class="col-lg-12 col-sm-12 col-xs-12 mobile-no-padding">
    <div class="search-widget">
        <form action="/Search" method="GET">
            <div class="left-inner-icon input-group" data-test-selector="txtSearch">
                <i class="zf-search"></i>
                  @Html.AutocompleteFor(model => model.Name, model => model.Id, "GetSuggestions", "Search", "Product.prototype.GetSuggestionResult", false, new { htmlAttributes = new { @placeholder = "Search", @class = "", @Name = "SearchTerm", @id = "searchTextBox", @data_test_selector = "txtSearch",@title= @WebStore_Resources.ButtonSearch } })
                <span class="input-group-btn">
                    <button type="submit" class="btn btn_search btn-bg-primary" id="btnSearchTerm" data-test-selector="btnSearchTerm" title="@WebStore_Resources.ButtonSearch">@WebStore_Resources.ButtonSearch</button>
                </span>
            </div>
            <div id="typeahead-results" class="ui-autocomplete-home"></div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        Search.prototype.ValidateSearch();
    });

     $("#btnVoiceSearch").on("click", function () {
        if ($(this).hasClass("keyboard-icon")) {
            $(this).removeClass("keyboard-icon");
            $(this).addClass("active");
            VoiceRecognition.prototype.startRecording(@Convert.ToString(isChromeSpecificVoiceSearch).ToLower(), '@regionName', function (convertedText) {
                $("#searchTextBox").val(convertedText);
                $("#searchForm").submit();
            });
        }
        else {
            $(this).removeClass("active");
            $(this).addClass("keyboard-icon");
            if (!@Convert.ToString(isChromeSpecificVoiceSearch).ToLower()) {
                VoiceRecognition.prototype.stopRecording();
            }
        }
    });
</script>