﻿@using Znode.Engine.WebStore.ViewModels
@model List<CategoryViewModel>
@if (Model?.Count > 0)
{
<div class="col-xs-12 product-grid category-list nopadding">
<div id="accordion-category" class="collapse in">
<h1></h1>
<div class="col-xs-12 product-view nopadding">
<div class="col-xs-12 product-view nopadding">
<div id="view-option-category" class="product-grid-ul grid-view">
@foreach (var _category in Model)
{@Html.Partial("_CategoryGridRow", _category)}
</div>
</div>
</div>
</div>
</div>
<div class="col-xs-12" id="product-grid"></div>
}